.divInput{
  display: flex;
  flex-direction: column;
  width: 25rem;
  gap: 1rem;
  margin-bottom: 1rem;

}
.fundoLogin {
  display: flex;
  justify-content: center;
  
  
  height: 100vh;

  background-color: beige
}

.telaLogin {
  max-width: 500px;
  margin-top: 20%; 
  width: 100%;
  height: 30%;
  padding: 10px;
  border-radius: 20px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:aliceblue;

  
}
.telaLogin h1{
  text-align: center;
}
